#movie-list-container {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  padding: 5px;
  align-content: center
}

#title-bar {
	background-color: tan;
}

#search-bar {
	padding-bottom: 10px;
}

#movie-list-entry {
  border: 1px solid black;
}